.root {
    padding: 25px;
    background: #03001C;
    min-height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    position: relative;
    text-align: center;
}

.addCardBtn {
    margin-bottom: 30px;
    background: #B6EADA;
    border: 1px solid #B6EADA;
    border-radius: 5px;
    padding: 10px 20px;
    color: #03001C;
}

.addCardBtn:hover {
    background: #03001C;
    color: #B6EADA;
}

.addCardBtn:disabled {
    display: none;
}

/*---------------Card---------------------*/
.card {
    text-align: left;
    color: azure;
    padding: 10px;
    width: 800px;
    border: 1px solid #B6EADA;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.cardAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cardInnerWrap {
    width: 100%;
}

.nameWrap {
    display: flex;
    gap: 5px;
    font-size: 20px;
    font-weight: 700;
}

.cardName {
    margin-top: 0;
    margin-bottom: 0;
}

.cardLastName {
    margin-top: 0;
    margin-bottom: 0;
}

.cardEmail {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
}

.cardTitle {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.cardMessage {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
}

.cardEditBtn {
    margin-left: auto;
    width: 16px;
    height: 16px;
    display: block;
    cursor: pointer;
}

.cardDeleteBtn {
    margin-left: 5px;
    width: 15px;
    height: 15px;
    display: block;
    text-align: center;
    cursor: pointer;
}

/*-----------Loader-------------*/
.loader {
    display: block;
    margin-right: auto;
    margin-left: auto;

    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    animation: roll 1s ease-in-out infinite alternate;
}
.loader:after{
    content:"";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 5px solid ;
    border-color: #B6EADA transparent;
}
@keyframes roll {
    0% {
        transform: translateX(-150%) rotate(0deg) ;
    }
    100% {
        transform:  translateX(150%) rotate(360deg);
    }
}

/*---------------ModalForm-------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(3, 0, 28, 0.8);
}

.form {
    background: #B6EADA;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    gap: 5px;

    display: flex;
    flex-direction: column;
}

.closeBtn {
    width: 25px;
    height: 25px;
    margin-left: auto;
    cursor: pointer;
}

